{% block menu %}

	<div class="footer"> 
		<div class="footer-block">
			<div>Поделиться:</div>
			<div>
				<a href="http://www.vk.com" target="_blank"><img class="social-img" src="{{request.static_url('aura:static/images/vk.png')}}"/></a>
				<a href="http://www.facebook.com" target="_blank"><img class="social-img" src="{{request.static_url('aura:static/images/fb.png')}}"/></a>
				<a href="http://www.twitter.com" target="_blank"><img class="social-img" src="{{request.static_url('aura:static/images/tw.png')}}"/></a>
				<a href="https://plus.google.com" target="_blank"><img class="social-img" src="{{request.static_url('aura:static/images/gp.png')}}"/></a>
			</div>
		</div>
	</div>
				

{% endblock %}